<div class="card">
    <div class="first-part">
        <div class="img-card">
            <img src="/assets/foto.jpg">

        </div>
        <div class="text-card">
            <h1>
                Lola Chacon Carrion
                <div class="short-line"></div>
            </h1>
            <h2>Desarrolladora Full Stack</h2>
        </div>


        <div>
            <app-social-media></app-social-media>
        </div>
    </div>
    <div class="second-part">
        <article class="article-w">
            <div>
                <h1 class="card-title">HOLA</h1>
            </div>
            <div>
                <h1> ¿Soy Desarrolladora Full Stack ó Enfermera?</h1>
                <h2>Esto es lo que soy </h2>
            </div>
            <div class="card-button">
                <button mat-raised-button color="primary">CURRICULUM</button>
                <button mat-raised-button color="primary">LANGUAGES</button>
            </div>

        </article>
    </div>
</div>