<div class="skill-progress-content">
    <div class="skill-progress-language-value">
        <h3 class="skill-progress-language">HTML</h3>
        <h3 class="skill-progress-value">50%</h3>
    </div>
    <mat-progress-bar color="primary" value="50" type="determinate"> </mat-progress-bar>
</div>
<div class="skill-progress-content">
    <div class="skill-progress-language-value">
        <h3 class="skill-progress-language">JavaScript</h3>
        <h3 class="skill-progress-value">70%</h3>
    </div>
    <mat-progress-bar color="pr" value="70" type="determinate"> </mat-progress-bar>
</div>

<div class="skill-progress-content">
    <div class="skill-progress-language-value">
        <h3 class="skill-progress-language">CSS</h3>
        <h3 class="skill-progress-value">40%</h3>
    </div>
    <mat-progress-bar color="accent" value="40" type="determinate"> </mat-progress-bar>
</div>
<div class="skill-progress-content">
    <div class="skill-progress-language-value">
        <h3 class="skill-progress-language">MySQL</h3>
        <h3 class="skill-progress-value">40%</h3>
    </div>
    <mat-progress-bar color="accent" value="40" type="determinate"> </mat-progress-bar>
</div>
<div class="skill-progress-content">
    <div class="skill-progress-language-value">
        <h3 class="skill-progress-language">Mongo</h3>
        <h3 class="skill-progress-value">60%</h3>
    </div>
    <mat-progress-bar color="warn" value="60" type="determinate"> </mat-progress-bar>
</div>