.home {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}

.sections {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
}

.First {
    background: rgb(92, 156, 156);
}
.Skill {
    background: rgb(16, 20, 20);
}
.AboutMe {
    background: rgb(177, 127, 39);
}
.Proyect {
    background: rgb(228, 221, 10);
}

.divFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width:1600px;
    height: auto; 
    margin: 0 auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}