.home {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}

.sections {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  
}

.First {
    background: rgb(16, 20, 20);
}
.Skill {
    height:auto;
    background: rgb(16, 20, 20);
}
.AboutMe {
    background: cyan;
}
.Proyect {
    background: rgb(228, 221, 10);
}

.divFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto; 
    margin: 0 auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}