<div class="home">
    
    <section id = "first" class="sections First">
        <div class="divFirst">
            <section class="container">
                <app-card-home></app-card-home>
            </section>
        </div>

    </section>
     <section id="aboutme"  class="sections AboutMe">
        <app-about-me-components></app-about-me-components>
    </section>
     <section id="skill"  class="sections Skill">
        <app-skill-components></app-skill-components>
    </section>
    <section id="proyect"  class="sections Proyect">
        <app-my-proyect-components></app-my-proyect-components>
    </section>
   
   
    
</div>





