<div class="wrapper-spinner">
  <div class="skills-row">
    @for (personalSkills of arrPersonalSkill; track personalSkills.id) {
      <div class="skill-spinner-group">
        <div class="spinner-container">
          <mat-progress-spinner
            [value]="personalSkills.level"
            mode="determinate"
            strokeWidth="10"
            diameter="100">
          </mat-progress-spinner>
          <div class="spinner-label">{{personalSkills.level}}%</div>
        </div>
        <h3 class="spinner-title">{{personalSkills.name}}</h3>
      </div>
    }
  </div>
</div>