<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="goToSection('first')">HOME</a>
      <a mat-list-item (click)="goToSection('aboutme')">ABOUT ME</a>
      <a mat-list-item (click)="goToSection('skill')">SKILLS</a>
      <a mat-list-item (click)="goToSection('proyect')">MY PROJECTS</a>
      <a mat-list-item (click)="goToSection('contact')">CONTACT</a>


    </mat-nav-list>
    <app-social-media></app-social-media>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>
      </span>
      <i class="fa-regular fa-circle-user"></i>
    </mat-toolbar>
    <ng-content></ng-content>


  </mat-sidenav-content>

</mat-sidenav-container>