.skill-section{
    width:100%;
    height:100%;
    
}

.skill-title{
    color:yellow;
    margin:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    
}

.title{
    font-size: 6rem;      
    font-weight: bold;
}

.skill-progress{
    width: 40%;
    height:20px;
    margin: 10px auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;      
    justify-content: flex-start; 
    
}

.skill-progress-content{
   color:yellow;
    
    
}
.skill-progress-language-value{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:2 px;
    
    padding: 10px 0px 3px 0px;
    
}

.skill-progress-language{
    font-size: 1.2rem;      
    margin:0px;
    padding:0px;
}

.skill-progress-value{
    color:aqua;
font-size: 1rem;      
    font-weight:bolder;
    margin:0px;
    padding:10px  0px 10px 10px;
}

