.skill-section{
    width:100%;
    height:797px;
   
       
}

.skill-title{
 
    height:20%;
    color:yellow;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
   
    
}
.title {
 
  font-size: 6rem;
  font-weight: bold;
 color: #fff200;
  text-shadow:
    0 0 5px #00ffe7,
    0 0 10px #00ffe7,
    0 0 20px #00ffe7,
    0 0 40px #00e0c6,
    0 0 80px #00a59c;
  animation: neonPulse 2.5s ease-in-out ;
}
@keyframes neonPulse {
  0% {
    text-shadow:
      0 0 5px #00ffe7,
      0 0 10px #00ffe7,
      0 0 20px #00ffe7,
      0 0 40px #00e0c6,
      0 0 80px #00a59c;
  }
  50% {
    text-shadow:
      0 0 2px #00ffe7,
      0 0 4px #00ffe7,
      0 0 10px #00e0c6,
      0 0 20px #00a59c,
      0 0 40px #007d75;
  }
  100% {
    text-shadow:
      0 0 5px #00ffe7,
      0 0 10px #00ffe7,
      0 0 20px #00ffe7,
      0 0 40px #00e0c6,
      0 0 80px #00a59c;
  }
}

.skill-quantities{
    width:max-content;
    display: flex;
    flex-direction: row;      
    justify-content:space-around; 
    width:95%;

}

.skill-progress{
    width:60%;
    margin-top:20px;
}

.spinner-wrapper{
    padding:50px;
    width:40%;
    height:50%;
}

@media (max-width: 1250px) {
  .skill-quantities {
    flex-direction: row;   
    gap:50 ;          
    width: 95%;            
  
  }
  .skill-progress, .spinner-wrapper {
    width: 50%;   
    padding:15px;         
   
  }
  .skill-title{
    margin-top:20px;
    padding:0px;
  }
  .title {
    font-size: 5.0rem;
    font-weight: bold;
  }
}

@media (max-width: 789px) {
  .skill-quantities {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .spinner-wrapper{
    display:none;
  }
  .skill-progress{
    width:90%;
    margin: 0px 10px 0px  10px;
  }
  .skill-title{
    margin:0px;
    padding:0px;
  }
    
  .title{
    padding-top:100px;
    margin:0px;
    padding:0px;
      font-size: 3rem;      
    font-weight: bold;
  }
}
  











