<div class="wrapper-cv">
    <div class="cv-title">MY PROFESSIONAL EXPERIENCE</div>
    <div class="cv-filter">
        <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>Select the job type</mat-label>
            <mat-select [(ngModel)]="data">
                @for (job of jobs; track job) {
                @if(job.includes("Hospital")){
                <mat-option (click)="content()" [value]="job"><i class="fa-solid fa-user-doctor fa-l"
                        style="color: #06f3ff;"></i>{{job}}</mat-option>
                }@else if (job.includes("Developer")) {
                <mat-option (click)="content()" [value]="job"><i class="fa-solid fa-computer"
                        style="color: #b8ff06;"></i> {{job}}</mat-option>
                }@else if (job.includes("Cook")){
                <mat-option (click)="content()" [value]="job"><i class="fa-solid fa-utensils"
                        style="color: #ff5906;"></i>{{job}}</mat-option>
                }@else {
                <mat-option (click)="content()" [value]="job">{{job}}</mat-option>
                }

                }
            </mat-select>
        </mat-form-field>

    </div>
    @if(arrExperienceFilter.length>0){
    @for(experience of this.arrExperienceFilter; track experience.id){
    <div class="cv-box">
        <div class="cv-img">
            <img [src]="experience.image">
        </div>
        <div class="cv-content">
            @if(experience.type.includes("Hospital")){
            <h1>{{experience.title}} <i class="fa-solid fa-user-doctor fa-l" style="color: #06f3ff;"></i></h1>
            }@else if(experience.type.includes("Cook")) {
            <h1>{{experience.title}} <i class="fa-solid fa-utensils" style="color: #ff5906;"></i></h1>
            }@else{
            <h1>{{experience.title}} <i class="fa-solid fa-computer " style="color: #b8ff06;"></i></h1>
            }

            <h2>{{experience.place}}</h2>
            <p><i class="fa-solid fa-calendar-days fa-lg" style="color: #fbce02;"></i><strong>{{experience.dates}} -
                    {{experience.datesEnd}}</strong></p>
            <h3>My Function: {{experience.function}}</h3>
            <h3> Skills: {{experience.skill}}</h3>

        </div>
    </div>
    }
    }@else {
    @for(experience of arrExperience; track experience.id){
    <div class="cv-box">
        <div class="cv-img">
            <img [src]="experience.image">
        </div>
        <div class="cv-content">
            @if(experience.type.includes("Hospital")){
            <h1>{{experience.title}} <i class="fa-solid fa-user-doctor fa-l" style="color: #06f3ff;"></i></h1>
            }@else if(experience.type.includes("Cook")) {
            <h1>{{experience.title}} <i class="fa-solid fa-utensils fa-l" style="color: #ff5906;"></i></h1>
            }@else if(experience.type.includes("Developer")){
            <h1>{{experience.title}}<i class="fa-solid fa-computer " style="color: #b8ff06;"></i></h1>
            }

            <h2>{{experience.place}}</h2>
            <p><i class="fa-solid fa-calendar-days fa-lg" style="color: #fbce02;"></i><strong>{{experience.dates}} -
                    {{experience.datesEnd}}</strong></p>
            <h3>My Function: {{experience.function}}</h3>
            <h3> Skills: {{experience.skill}}</h3>

        </div>
    </div>
    }

    }

</div>