
.cv-title {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 5rem;
  color: #fff200;
}


.wrapper-cv {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cv-box {
  display: flex;
  color:black;
  flex-direction: row;
  justify-content:space-around;
  gap:30px;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.cv-img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow:
    0 0 8px 2px#fff200,
    0 0 16px 4px #cde000,
    0 0 0 4px rgba(204, 255, 0, 0.08) inset;
}

.cv-content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:700px;
  
}



@media(max-width:1100px){
.cv-box {
    flex-direction: row ; 
    gap: 16px;
    flex-wrap: wrap;
    padding: 16px;
  }
  .cv-img img {
    width: 200px;    
    height: 200px;
    max-width: 40vw; 
    max-height: 40vw;
  }
  .cv-content {
    font-size: 0.95em;
    padding: 0;
  }
}


@media (max-width: 789px ) {
  .cv-box {
    flex-direction: row ; 
    gap: 16px;
    flex-wrap: wrap;
    padding: 16px;
  }
  .cv-img img {
    width: 110px;    
    height: 110px;
    max-width: 40vw; 
    max-height: 40vw;
  }
  .cv-content {
    font-size: 0.95em;
    padding: 0;
  }


  @media(max-width:789px){
    .cv-title{
       font-size: 3em;
    }
    .cv-filter{
      display:flex;
      justify-content:center;
    }
  }
}