<div class="wrapper-cv">
    <div class="cv-title">MY PROFESSIONAL EXPERIENCE</div>
    <div class="cv-box">
        <div class="cv-img">
            <img src="/assets/pinos.jpg">
        </div>
        <div class="cv-content">
            <h2>Hospital San Juan de Dios</h2>
            <p>27/02/13 hasta 29/03/14</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <span> abilities: trabajo en grupo, estres, etc..</span>

        </div>
    </div>
    <div class="cv-box">
        <div class="cv-content">
            <h2>Hospital San Juan de Dios</h2>
            <p>27/02/13 hasta 29/03/14</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <span> abilities: trabajo en grupo, estres, etc..</span>

        </div>
        <div class="cv-img">
            <img src="/assets/pinos.jpg">
        </div>

    </div>
    <div class="cv-box">
        <div class="cv-img">
            <img src="/assets/pinos.jpg">
        </div>
        <div class="cv-content">
            <h2>Hospital San Juan de Dios</h2>
            <p>27/02/13 hasta 29/03/14</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <span> abilities: trabajo en grupo, estres, etc..</span>

        </div>
    </div>
    <div class="cv-box">
        <div class="cv-content">
            <h2>Hospital San Juan de Dios</h2>
            <p>27/02/13 hasta 29/03/14</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <p>orenwvtrobunbournborutnbmtroubnrteoubnrtobn</p>
            <span> abilities: trabajo en grupo, estres, etc..</span>

        </div>
        <div class="cv-img">
            <img src="/assets/pinos.jpg">
        </div>

    </div>

</div>